<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="here.app">
    <!-- Отображение карты в приложении зависит от доступа в интернет. Также в SDK предусмотрено кэширование тайлов карты,
        поэтому нам необходимо добавить в файле манифеста соответствующие разрешения: -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- // meta берем из https://developer.here.com/projects/PROD-3638f809-952c-470a-9b67-9d9228390797 -->

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="a6PmQUVZVDLaXppLzcuZ" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="ytJ4swebgJl7eS1BIVmHKg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="PJFJy3uMQd0AM0DVFtGPWCrBePV1v4WdqB1D8QyCes9U+hDUyz6C+XOysqVLSaHNOzI/ZdLNA9+mhK150qZjscGkpEaCBKb4rapjwDDSXZ+RV5nFoWoJpk52rKGGyoUsTbGTYtObmWkNwoaWWXbfuOXwskbd0K7ZUMnMnGSVxzJnDOVd22OKrh5ivXWqvPuvyvRb1d5X63zSV8jhXCriZk8BxugxtI4QPiq6EOPONC8YW/Z9Z5fleClt2xex7W8Sg67JMy8v5h3sOg40hCZOEF38AC03ZkAmUjeKwQ5OTc/+waQhH75IxxbzHcwBMn57RaWT7wRjHQVAHfwHr/a3cANByNVjTAKfWWbz4Al+DUuI6eCCIt61A9Db3e9p32RRH3DmkWuOQLJMyAlLINGPU0kSZ3Cvetq4KZK2s4am9Fv4w6i76YjBpF0yvTANR5yYSdpWA1XeOfVBLol3SyCNbITvgG0pqdkCfg7bN8vOc/jiLGeT/xvy3RybeiDhIIDroDJ7sT1MtsoP7QJksOC4zWB5Nq2lme0Pzybxtr2P4HShpv8mOIRziq63IWux/IvENfLBx9/g9zdmPXx4wEVLblCsz1ij6sBiTz/uMu88rk1hxy5UZ1WAanThRAFVFtNdDnnkcmAYtecHL80cUVFEVN075d9Y2Jcebry8Ht6RazY="/>
        <!--//в Premium SDK необходимо добавить работу специального сервиса:-->
        <!--  map serviceдиректория для сохрарнения карт? -->
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="MapServiceLabel"
            android:exported="false">
            <intent-filter>
                <action android:name="MapService"></action>
            </intent-filter>
        </service>
    </application>



</manifest>